// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.


body {
  background-color: $color-bg-darker;
}

.page-about {
  background-color: #F0FFCC;
}

.page-contact {
  background-color: #DDF6FF;
}