---
// src/pages/about.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";

const about = await getEntry("pages", "about");
const { Content } = await about.render();
---

<BaseLayout title={about.data.title} pageType="about">
    <div class="contact-module">
        <div class="contact-module-top">
            <div class="contact-module-data">
                <div class="contact-module-pagewidth">
                    <Content />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
