---
// src/pages/about.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pages = await getCollection("pages");
const about = pages.find((page) => page.slug === "about");

if (!about) {
    throw new Error("About page content not found");
}

const { Content } = await about.render();
---

<BaseLayout title={about.data.title} pageType="about">
    <div class="contact-module" style={`background-color: ${about.data.backgroundColor || '#ffffff'}`}>
        <div class="contact-module-top">
            <div class="contact-module-data">
                <div class="contact-module-pagewidth">
                    <Content />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
