---
// src/components/Header.astro
---

<div class="header-cont--logo l-inline">
    <!-- Logo SVG -->
</div>
<div class="header-cont--menu l-inline">
    <!-- Navigation menu -->
</div>
<div class="header-cont--social l-inline hideon-tablet">
    <!-- Social links -->
</div>
