---
// src/layouts/BaseLayout.astro
export interface Props {
    title?: string;
    metaDescription?: string | null;
    metaKeywords?: string | null;
    backgroundColor?: string;
}

const {
    title = "Projets - ACETONE GRAPHIK studio design indépendant",
    metaDescription = "édition, digital, conception rédaction, événementiel, motion design le studio de graphisme développe des projets sur des supports actuels",
    metaKeywords = "design, graphism",
    backgroundColor = "#ffffff",
} = Astro.props;

import Header from "../components/Header.astro";
---

<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content={metaKeywords} />
        <meta name="description" content={metaDescription} />
        <meta name="title" content={title} />
        <title>{title}</title>
        <link rel="stylesheet" href="/workspace/css/application.css" />
        <script is:inline src="/workspace/js/lib/iscroll.js"></script>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body class="page-projects">
        <script is:inline type="application/javascript">
            function addLoadEvent(func) {
                var oldonload = window.onload;
                if (typeof window.onload != "function") {
                    window.onload = func;
                } else {
                    window.onload = function () {
                        if (oldonload) {
                            oldonload();
                        }
                        func();
                    };
                }
            }
        </script>

        <!-- Header Navigation -->
        <Header />

        <style type="text/css" define:vars={{ backgroundColor }}>
            body,
            .active-moving {
                background-color: var(--backgroundColor);
            }
        </style>

        <slot />

        <div id="sizeshandler"></div>
        <div id="scrollhandler"></div>
        <script is:inline src="/workspace/js/dist/app.js"></script>
        <script is:inline type="application/javascript">
            addLoadEvent(function () {
                app.core.startall();
            });
        </script>
        <script is:inline>
            (function (i, s, o, g, r, a, m) {
                i["GoogleAnalyticsObject"] = r;
                (i[r] =
                    i[r] ||
                    function () {
                        (i[r].q = i[r].q || []).push(arguments);
                    }),
                    (i[r].l = 1 * new Date());
                (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(
                window,
                document,
                "script",
                "//www.google-analytics.com/analytics.js",
                "ga",
            );
            ga("create", "UA-63644854-1", "auto");
            ga("send", "pageview");
        </script>
    </body>
</html>
